@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

div.welcome {
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }

  .welcome {
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #C0C0C0;
    font-size: 80px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
    font-weight: 900;
  }
  
  div:before,
  div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
}

div#typewriter {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #C0C0C0;
  font-size: 50px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
  font-weight: 700;
}




.phone {
  background: transparent;
  padding: 100px;
}
.call-animation {
    background: #E70E2B;
    width: 135px;
    height: 135px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 5px #E70E2B;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  
}
.img-circle {
        width: 135px;
        height: 135px;
        border-radius: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(231, 14, 43, 0.5);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(231, 14, 43, 0.3);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(231, 14, 43, 0.3);
    }

}